  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link active" href='/'>
        Collectives
        <span class="badge text-bg-secondary">
          <%= number_with_delimiter Collective.all.count %>
        </span>
      </a>
    </li>    
    <li class="nav-item">
      <a class="nav-link" href='/projects'>
        Projects
        <span class="badge text-bg-secondary">
          <%= number_with_delimiter Project.with_repository.active.count %>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/funders'>
        Funders
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/audit'>
        Audit
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/sboms'>
        SBOMs
      </a>
    </li>
  </ul>