<div class="container-md">
  <h3 class='my-3'>Top 1000 Collectives with most donated</h3>
  
  <button id="toggle-axis" class="btn btn-primary mb-3">Toggle Axis</button>

  <%= column_chart @collectives_by_total_donations, thousands: ",", width: "100%", colors: ["#7878EF"], library: {
    scales: {
      x: { display: params[:hide_axis] != "true" },
      y: { display: params[:hide_axis] != "true" }
    }
  } %>

  <h3 class='my-3'>Top 50 Collectives with most donated</h3>

  <%= column_chart @top_50_collectives_by_total_donations, thousands: ",", colors: ["#7878EF"], library: {
    scales: {
      x: { display: params[:hide_axis] != "true" },
      y: { display: params[:hide_axis] != "true" }
    }
  } %>

  <% @ecosystems.each do |ecosystem| %>
    <% ecosystem_packages = @critical_packages.select { |pkg| pkg['downloads'] && pkg['downloads'] > 0 }.select { |pkg| pkg['ecosystem'] == ecosystem } %>
    <% if ecosystem_packages.length > 5 %>

      <h3 class='my-3'>Ecosystem: <%= ecosystem %></h3>

      <%= column_chart [
        { 
          name: "Downloads", 
          data: ecosystem_packages
            .sort_by { |pkg| -pkg['downloads'] }.first(100)
            .map { |pkg| [pkg['name'], pkg['downloads']] }
            .to_h,
          library: { yAxisID: "y", backgroundColor: "#7878EF", borderColor: "#7878EF" }
        },
        { 
          name: "Funding (Scaled)", 
          data: ecosystem_packages
            .sort_by { |pkg| -pkg['downloads'] }.first(100)
            .map { |pkg|
              osc_slug = pkg['funding_links']
                .select { |l| l.include?('opencollective.com') }
                .first
                &.split('/')&.last&.split('#')&.first
              collective = Collective.find_by_slug(osc_slug.to_s.downcase)
              total_donations = collective&.total_donations.to_i
              [pkg['name'], total_donations * 1000] # Scale funding for visibility
            }
            .to_h,
          library: { yAxisID: "y2", backgroundColor: "#45E56E", borderColor: "#45E56E" }
        }
      ], legend: { display: params[:hide_axis] != "true" }, library: {
        scales: {
          x: { display: params[:hide_axis] != "true" },
          y:  { 
            id: "y", 
            position: "left", 
            display: params[:hide_axis] != "true",
            ticks: { beginAtZero: true },
            scaleLabel: { display: params[:hide_axis] != "true", labelString: "Downloads" }
          },
          y2: { 
            id: "y2", 
            position: "right", 
            type: "linear", 
            display: params[:hide_axis] != "true",
            ticks: { 
              beginAtZero: true, 
              min: 0, 
              suggestedMax: 1_000_000,
              callback: "function(value) { return '$' + (value / 1000) + 'k'; }"
            }, 
            scaleLabel: { display: params[:hide_axis] != "true", labelString: "Funding ($)" }
          }
        }
      } %>

    <% end %>
  <% end %>
</div>

<script>
  document.getElementById("toggle-axis").addEventListener("click", function () {
    const url = new URL(window.location.href);
    if (url.searchParams.get("hide_axis") === "true") {
      url.searchParams.delete("hide_axis");
    } else {
      url.searchParams.set("hide_axis", "true");
    }
    window.location.href = url.toString();
  });
</script>