<div class="container-md">
  <h3>Top 1000 Collectives with most donations and expenses<h3>

  <%= column_chart @collectives_by_total_donations, thousands: "," %>

  <h3>Top 50 Collectives with most donations and expenses<h3>

  <%= column_chart @top_50_collectives_by_total_donations, thousands: "," %>
</div>