<% @meta_title = "#{@collective} funders" %>
<% @meta_description = "Funders of #{@collective}" %>

<div class="container-md">
    <%= render 'nav' %>

  <h1>
    <%= @collective.to_s %> Funders
  </h1>

  <% @funders.each do |funder| %>
    <%= render 'funders/funder', funder: funder %>
  <% end %>
</div>