    <div class="card mb-3 collective d-flex">
      <div class="card-body pb-1">
        <div class="d-flex">
          
          <div class="flex-grow-1 ms-3 text-break">
            <h5 class='card-title'>
              <%= link_to funder.account, funder_path(funder.account) %>
            </h5>
          
            <p class="card-subtitle mb-2 text-muted">
              <i><small>
                $<%= number_with_delimiter funder.total.try(:round, 2) %>
              </small></i>
            </p>
          </div>
          <div class="flex-shrink-0">
            <img src="<%= "https://images.opencollective.com/#{funder.account}/logo/40.png" %>" class="rounded" height='40' width='40' onerror="this.style.display='none'">
          </div>  
        </div>
      </div>
    </div>