<% @meta_title = "Funders" %>

<div class="container-md">
    <%= render 'nav' %>

  <h1>
    Funders
  </h1>

  <% @funders.each do |funder| %>
    <%= render 'funders/funder', funder: funder %>
  <% end %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>