@import "ecosystems";

.text-decoration-hover{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.stat{
  small{
    font-size: 0.7em;
  }
  .info{
    position: absolute;
    top:0;
    right: 5px;
    color: #ccc;
  }
}