  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link" href='/'>
        Collectives
      </a>
    </li>    
    <li class="nav-item">
      <a class="nav-link" href='/projects'>
        Projects
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/funders'>
        Funders
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/audit'>
        Audit
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href='/sboms'>
        SBOMs
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='/advisories'>
        Advisories
      </a>
    </li>
    <li class="nav-item ms-auto">
      <%= link_to 'Upload', new_sbom_path, class: 'btn btn-primary'%>
    </li>
  </ul>
