<div class="card mb-3 project d-flex" id="sbom_<%= sbom.id %>">
  <div class="card-body pb-1">
    <div class="d-flex">
      
      <div class="flex-grow-1 ms-3 text-break">
        <h5 class='card-title'>
          <%= link_to "SBOM: #{sbom.id}", sbom_path(sbom) %>
        </h5>
      
        <p class="card-subtitle mb-2 text-muted">
          <%= sbom.artifacts.length %> artifacts
        </p>
        
      </div>
    </div>
  </div>
</div>