<% @meta_title = "Upload SBOM" %>
<% @meta_description = "Upload Software Bill of Materials" %>

<div class="container-md">

  <%= render 'nav' %>

  <h3 class='my-3'>Upload SBOM</h3>

  <%= simple_form_for @sbom do |f| %>
    <%= f.input :raw, label: false, :input_html => {:rows => 25} %>
    <%= f.submit 'Upload SBOM', class: 'btn btn-primary' %>
  <% end %>
  
</div>